<div class="d-flex flex-column justify-content-center align-items-center">
    <%= image_tag "profile_image.png", class: "img-thumbnail rounded-circle p-0 border border-1 border-primary", style: "width: 3.5rem;" %>
    <small style="width: 3.5rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Adam is the username</small>
</div>